<div align="right">
  <a class="btn btn-primary" ng-if="isTenantAdminUser()" href="#!/media/add"><span class="glyphicon glyphicon-plus"></span> Add Media</a>
</div>
<table class="table table-striped">
  <thead>
    <th>SKU</th>
    <th>Title</th>
    <th>Condition</th>
    <th>In Stock</th>
    <th>Unit Cost</th>
    <th ng-if="isTenantAdminUser()"></th>
  </thead>
  <tbody>
    <col width="15%">
    <col width="25%">
    <col width="23%">
    <col width="15%">
    <col width="15%">
    <col ng-if="isTenantAdminUser()" width="7%">
    <tr ng-repeat="media in medias">
      <td><a ng-href="/#!/media/{{ media.media_id }}">{{ media.sku }}</a></td>
      <td>{{ media.title }}</td>
      <td>{{ media.condition }}</td>
      <td>{{ media.numberInStock }}</td>
      <td>{{ media.unitCost | currency }}</td>
      <td ng-if="isTenantAdminUser()">
        <div class="button-group">
          <a ng-href="/#!/media/edit/{{ media.media_id }}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-href="/#!/media/delete/{{ media.media_id }}"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
