<h3>View Media</h3>
<form role="form">
  <div class="form-group">
    <label class="control-label" for="sku">SKU</label>
    <p ng-model="media.sku" ng-readonly="true" class="form-control" id="sku">{{media.sku}}</p>
  </div>
  <div class="form-group">
    <label class="control-label" for="title">Title</label>
    <p ng-model="media.title" ng-readonly="true" class="form-control" id="title">{{media.title}}</p>
  </div>
  <div class="form-group">
    <label class="control-label" for="description">Description</label>
    <textarea ng-model="media.description" ng-readonly="true" class="form-control" id="description">{{media.description}}</textarea>
  </div>
  <div class="form-group">
    <label class="control-label" for="genre">Genre</label>
    <p ng-model="media.genre" ng-readonly="true" class="form-control" id="genre">{{media.genre}}</p>
  </div>
  <div class="form-group">
    <label class="control-label" for="cast">Cast</label>
    <textarea ng-model="media.cast" ng-readonly="true" class="form-control" id="cast">{{media.cast}}</textarea>
  </div>
  <div class="form-group">
    <label class="control-label" for="rating">Rating</label>
    <p ng-model="media.rating" ng-readonly="true" class="form-control" id="rating">{{media.rating}}</p>
  </div>
  <div class="form-group">
    <label class="control-label" for="unitCost">Unit Cost</label>
    <p ng-model="media.unitCost" ng-readonly="true" class="form-control" id="unitCost">{{media.unitCost}}</p>
  </div>
</form>
